
standard_delivery_locations:
  - AR
  - BL
  - UT
  # LIBSYS-4601 - two different Business libraries
  - BS
  - CH
  - BU
  # LIBSYS-5896 - Starr Closure
  # - EA
  - HS
  - CJ
  - GS
  - LE
  # LIBSYS-6805 - Remove Math Library from Offsite delivery options
  # LIBSYS-7098 - Re-enable Math Library as Offsite delivery location
  - ML
  - MR
  # LIBSYS-5898 - Remove Reid Hall as delivery option
  # - MZ
  - CA
  - SW

# CUSTOMER CODES
# there are some customer codes which have special delivery rules
QK:
  default:  MR
  available:
    # - BC
    # - BT
    # - BZ
    # - MP
    - MR
    # - MZ
    # - QP
# LIBSYS-4277 - SCSB-797 Harvard customer code FL Error
FL:
  default:  AR
  available:
    - AR

# LIBSYS-4474 - Princeton PJ items - restrict delivery to Avery
PJ:
  default:  AR
  available:
    - AR

# LIBSYS-7026 - Princeton Marquand Art Library PV items - also only deliverable to Avery
PV:
  default:  AR
  available:
    - AR


# configuration for each offsite location code
# keys:
#   default:  required key, sets a default 
#             on-campus delivery location
#   available: optional key, a list of available
#              on-campus delivery locations.  
#   If there is no 'available' list then the
#   standard set (standard_delivery_locations) will be used.

# ReCAP Partner material
# For now, Butler is the only valid delivery location.
# This may change in the future.

scsbhl:
  default:  BU

scsbnypl:
  default:  BU

scsbpul:
  default:  BU


# Columbia material

off,ave:
  default:  AR
  # LIBSYS-8004 - use standard delivery locations for off,fax and off,ave 
  # available:
  #   -  AR

off,bio:
  default:  CA

# LIBSYS-4603 - media material is physically fragile, 
# it gets its own exclusive delivery code / tote.
off,bmc:
  default:  CV
  available:
    -  CV

off,bmcr:
  default:  CV
  available:
    -  CV

off,bssc:
  default:  BS
  available:
    -  BS

off,bus:
  default:  BS

off,che:
  default:  CA

off,docs:
  default:  LE

# LIBSYS-5896 - Starr Closure
# off,eal:
#   default:  EA
#
# off,ean:
#   default:  EA
#   available:
#     -  EA
#
# off,eax:
#   default:  EA

off,eng:
  default:  CA

off,fax:
  default:  AR
  # LIBSYS-8004 - use standard delivery locations for off,fax and off,ave 
  # available:
  #   -  AR

off,glg:
  default:  CA

# DEFAULT:  If there are no specific delivery rules defined for
# a given offsite location, Valet uses the rules for 'OFF GLX'
off,glx:
  default:  BU

off,gsc:
  default:  CA

off,hsl:
  default:  HS

off,hsr:
  default:  HS

off,jou:
  default:  CJ

off,leh:
  default:  LE

off,les:
  default:  LE
  available:
    -  LE

# LIBSYS-6805 - Remove Math Library from Offsite delivery options
# LIBSYS-7098 - Re-enable Math Library as Offsite delivery location
off,mat:
  default:  ML

off,mrr:
  default:  CF
  available:
    -  CF

off,msc:
  default:  MR
  available:
    -  MR

off,msr:
  default:  MR
  available:
    -  MR

off,mus:
  default:  BU

off,mvr:
  default:  MR
  available:
    -  MR

off,phy:
  default:  CA

off,psy:
  default:  CA

off,ref:
  default:  BU

off,sci:
  default:  CA

off,swx:
  default:  SW

off,unr:
  default:  UT
  available:
    -  UT

off,utmrl:
  default:  UT
  available:
    -  UT

off,utn:
  default:  UT

off,utp:
  default:  UT
  available:
    -  UT

off,uts:
  default:  UT

off,war:
  default:  AR
  
  
  
  