

<div class="bs-callout bs-callout-danger">
  <h4>There has been an error with the request system</h4>
  <p>
    The web page you are trying to reach is not available.
    Please contact library staff for assistance.
  </p>
</div>

<div id='close_popup_button'></div>
<%= javascript_tag 'close_popup_button();' %>
