
<!-- views/forms/_delivery_location.html.erb -->

<div class='delivery_location_form'>

  <table class='valet_request'>
    <tr>
      <td width='40%'>
        <strong>Item to Library</strong>
        <br>
        Hardcopy item will be delivered to pick-up location in 3-5 business days.
        <br>
        <div class='offset-block'>
          <%= to_library_info_link %>
        </div>
        

      <td>
        <p class="text-center">
          <strong>Preferred Campus Pick-Up Location</strong>
        </p>
        <%= delivery_select_tag(holding[:location_code], holding[:customer_code]) %>
        <br>
      </td>
    </tr>
  </table>

</div>

