<!-- views/forms/ill.html.erb -->

<h4>ILL Request</h4>

<!--
In order to route your request to the appropriately
we need to know your primary affiliation with the University.
<br>
-->
Please select your affiliation:


<%= form_with url: ill_index_path do |form| %>

  <%
  #  The ILL service may be called with an OpenURL or with a Bib ID.
  #  We need to pass ALL params through the campus-triage form so 
  #  they can get to the ILL service code.
  %>


  <% ill_params.each do |key, value| %>
    <%= form.hidden_field(key, value: value) %>
  <% end %>
    
  <%= render 'campus', form: form %>

  <br>
  <br>

  <%= submit_tag('Continue', onclick: "return validateCampusForm()") %>

<% end %>
